.page {
	box-sizing: border-box;
	padding: 30rpx;
}
.rules {
	box-sizing: border-box;
	padding: 30rpx;
	border-radius: 25rpx;
	.r-title {
		font-size: 21px;
		font-weight: bold;
		letter-spacing: 2rpx;
		text-align: center;
		line-height: 120rpx;
	}
	.r-secondTitle {
		display: flex;
		height: 60rpx;
		margin-bottom: 20rpx;
		.r-icon {
			width: 4px;
			height: 20px;
			background-color: #f9a215;
			margin-right: 12rpx;
			margin-top: 6rpx;
		}
		.r-word {
			font-size: 18px;
			font-weight: bold;
			color: #515151;
		}
	}
	.r-item {
		font-size: 16px;
		margin-bottom: 30rpx;
		letter-spacing: 2rpx;
	}
}